__pycache__/
*.py[cod]
*.egg-info/
.venv/
.uv/
dist/
build/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
.DS_Store
*.swp
.env
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.jsonsandbox/
